.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-container {
  background-color: rgba(235, 173, 233, 0.85);
  border-radius: 2%;
  height: 100%;
}

.title-text {
  font-family: 'Kaushan Script', cursive;
  font-size: 50pt;
  color: #61dafb;
  text-align: center;
}

.white-bg {
  background-color: white;
  font-family: 'Libre Baskerville', cursive;
  font-size: 16pt;
  font-weight: 300;
  text-align: center;
}


.game-text {
  font-family: 'Libre Baskerville', cursive;
  font-size: 20pt;
  font-weight: 400;
  text-align: center;
}

.correct-answer {
  color: green;
}

.rotate {
  animation: rotation 1.5s infinite linear alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100%{
    transform: rotate(10deg);
  }
}

.full-height {
  height: 100%;
}

.center-align {
  text-align: center;
}

.game-button {
  background-color: rgba(235, 88, 233, 1);
  border-radius: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
